<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068108209963-c9na63h04plsof5msp7r5j9c605v66q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068108209963-c9na63h04plsof5msp7r5j9c605v66q1</string>
	<key>API_KEY</key>
	<string>AIzaSyDVGhy6McCY4rQzwqEHyrarv8bZgf_WyDw</string>
	<key>GCM_SENDER_ID</key>
	<string>1068108209963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gretag.ExpectoChatum</string>
	<key>PROJECT_ID</key>
	<string>expectochatum</string>
	<key>STORAGE_BUCKET</key>
	<string>expectochatum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068108209963:ios:ed92ad239d23f83b5aef6e</string>
</dict>
</plist>